/* header  */
header{
    width: 100%;
    height: 30vh;
    background: url("../images/pexels-mister-mister-3434523.jpg");
    background-position: top;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.content-header{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #26547c7a 0%, #26547cb4 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row-reverse;
}



.content-header-top{
    display: none;
}



.content-header-bottom{
    width: 100%;
    height: 100%;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-header-bottom p{
    font-size: 40px;
    color: white;
}

.content-header-bottom p:first-child{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

/* end header  */

/* CONTENT CART */

.content-homepage h1{
    font-size: 25px;
    margin: 20px 0 0 0;
}

.content-homepage{
    width: 100%;
    padding: 20px 10px;
}



.carts-program{
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart{
    width: 48%;
    height: 300px ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-home{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffd166c9;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart a p{
    font-size: 25px;
    margin-bottom: 5px;
    color: #26547C;
}

.icon-home img{
    width: 70%;
    height: 70%;
}

/* end  CONTENT CART */




@media only screen and (max-width: 700px) {


    /* start header  */

    header{
        width: 100%;
        height: 40vh;
        background: url("../images/pexels-mister-mister-3434523.jpg");
        background-position: center;
        background-size: cover;
    }

    .content-header{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #26547c7a 0%, #26547cb4 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .content-header-top{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 10px 30px;
    }


    .content-header-top-uesr{
        width: 80px;
        height: 80px;
        border: 1px solid #FFD166;
        border-radius: 50%;

        background-image: url("../images/pexels-tim-douglas-6567560.jpg");
        background-size: cover;
    }

    .content-header-bottom{
        width: 100%;
        height: 60%;
        margin-left: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .content-header-bottom p{
        font-size: 40px;
        color: white;
    }

    .content-header-bottom p:first-child{
        font-size: 50px;
        font-family: 'Pacifico', cursive;
    }


    /* end header */

    .content-homepage{
        width: 100%;
        padding: 20px 10px;
    }



    .carts-program{
        width: 100%;
        height: auto;
        padding: 0 10px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cart{
        width: 48%;
        height: 200px ;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .cart a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .icon-home{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #ffd166c9;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart a p{
        font-size: 25px;
        margin-bottom: 5px;
        color: #26547C;
    }

    .icon-home img{
        width: 70%;
        height: 70%;
    }



}



@media only screen and (max-width: 400px){

    .content-right{
        margin-bottom: 70px;
    }

    .content-header-top-uesr{
        width: 60px;
        height: 60px;
    }

    .content-header-bottom p{
        font-size: 30px;
        color: white;
    }

    .content-homepage h1{
        font-size: 15px;
    }

    .content-header-bottom p:first-child{
        font-size: 40px;
        font-family: 'Pacifico', cursive;
    }

    .carts-program{
        width: 100%;
        height: auto;
        flex-direction: column;
    }



    .cart{
        width: 90%;
        height: 200px ;
        margin-bottom: 20px ;
    }


    .icon-home img{
        width: 50%;
        height: 50%;
    }


    nav ul li a img{
        width: 30px;
        height: 30px;
    }    
}