body{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 30vh;
    background: url("../images/pexels-mister-mister-3434523.jpg");
    background-position: top;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.content-header{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #26547c7a 0%, #26547cb4 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row-reverse;
}




.content-header-bottom{
    width: 100%;
    height: 100%;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-header-bottom p{
    font-size: 40px;
    color: white;
}

.content-header-bottom p:first-child{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

/* end header  */

.cart-link{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.cart{
    width: 31%;
    height: 100px;
    background-color: cadetblue;
    border-radius: 10px;
}

.cart a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-1{
    background-color: #f8cb18;
}
.cart-2{
    background-color: #EC255A;
}
.cart-3{
    background-color: #4C3F91;
}

.cart-icon{
    width: 60px;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.558);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cart-icon i{
    font-size: 30px;
    color: white;
}

.cart-content{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.cart-content .cart-content-p{
    font-size: 20px;
    color: white;
}


/* list-days */

.list-days{
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.day{
    width: 100%;
    height: 100%;
}

.name-day{
    font-size: 35px;
    text-transform: capitalize;
}

.content-day{
    width: 100%;
    height: 250px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(244 244 244);
    border-radius: 10px;
}

.content-day a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-day-imag{
    width: 300px;
    height: 100%;
}

.content-day-imag img{
    width: 100%;
    height: 100%;
     border-radius: 10px;
}


.content-day-crod{
    padding-left: 20px;
}

.content-day-crod h1{
    font-size: 22px;
    margin-bottom: 10px;
}


.content-day-crod p{
    font-size: 17px;
    margin: 5px;
    color: rgb(74, 72, 72);
}

.cred{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart p{
    font-size: 16px;
    color: #333;
}

.content-day-crod ul{
    display: flex;
    margin-top: 10px;
}


.content-day-crod ul li{
    margin: 0  5px;
    list-style: none;
}

.content-day-crod ul li  i{
    font-size: 2àpx;
}








@media only screen and (max-width: 700px) {

    body{
        margin-bottom: 100px;
    }
    /* end header  */

    .cart-link{
        margin: 20px  0;
        height: auto;
        flex-direction: column;
    }


    .cart{
        width: 90%;
        height: 120px;
        margin: 10px auto;
    }


    .list-days {
        padding: 20px;
    }


    .name-day{
        font-size: 25px;
    }
    
    .content-day{
        height: auto;
        padding: 20px;
    }
    
    .content-day-imag {
        width: 480px;
        height: 173px;
    }

    
    .content-day-crod{
        padding-left: 10px;
    }
    
    .content-day-crod h1{
        font-size: 18px;
    }
    
    
    .content-day-crod p{
        font-size: 14px;
    }
    
    .cred{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .cart p{
        font-size: 16px;
        color: #333;
    }
    


}







@media only screen and (max-width: 400px) {


    .content-day {
        height: auto;
        padding: 20px;
        flex-direction: column;
    }

    .content-day-imag {
        width: 100%;
        height: 213px;
        margin-bottom: 20px;
    }

}